/* app/assets/css/main.css */

:root {
  --background-color: #1A1A2E;
  --component-bg-color: #2C2C54;
  --primary-accent-color: #ff74ef;
  --secondary-accent-color: #86e5ff;
  --text-color: #EAEAEA;
  --text-color-secondary: #dcdcdcff;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  background: var(--primary-accent-color);
  color: #fff !important;
  padding: 10px 12px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.header {
  background-color: var(--component-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-accent-color);
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-item a{
  text-decoration: none;
  color: var(--text-color-secondary);
  transition: color 0.3s ease;
  font-size: 0.9em;
}

.nav-item a:hover {
  color: var(--primary-accent-color);
}

.router-link-active {
  color: var(--secondary-accent-color);
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: var(--component-bg-color);
  color: var(--text-color-secondary);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.footer p {
  margin: 0;
}
